body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

nav {
  background-color: hsla(0, 0%, 0%, 0.939);
  margin-top: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center; 
  padding: 10px 20px;
  font-family: Georgia;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  font-size: 22px;
  align-items: center;
  margin-left: 12%; 
  /* margin-left: 18%;  */
}

nav ul li {
  padding: 0 10px; 
  position: relative;
  white-space: nowrap; 
  margin-right: 2%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  position: relative;
  font-size: 20px; 
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e91e63;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover::after,
nav ul li.class-selected a::after { 
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-div {
  display: inline-flex;
}

.nav-div h4 {
  color: white;
  margin-left: 1%;
}

nav img {
  width: 8%;
  height: 8%;
  margin-top: 0.4%;
  cursor: pointer;
}


