<nav>
    <div class="nav-div">
        <img src="assets/ks_logo_copy.jpg">
        <!-- <h4>Keshav Shriram</h4> -->
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink='app-about-me'>About Me</a></li>
            <li><a routerLink='app-skills'>Hard & Soft Skills</a></li>
            <li><a routerLink='app-projects'>Projects</a></li>
            <li><a routerLink='app-experience'>Internship/Experience</a></li>
            <li><a routerLink='app-contact'>Contact</a></li>
        </ul>
    </div>
</nav>