<div class="about-me-main-div">
    <div ><img [@randomMovement]="movingElementState" class="profile-img" src="/assets/ks_logo_copy.jpg"></div>

    <div @AboutMeAanimation class="info">
        <h2 align="center">About</h2>
        <hr>
        <p >To be successful in the field i work, try to achieve maximum efficiency in the job and to be always honest, loyal and committed towards the organization and indeed achieve organizational growth as well as personal growth.</p>
        <p> I am a <font> quick learner </font> of new technologies, constantly seeking to expand my knowledge and skill set. My enthusiasm for learning allows me to stay updated with the latest advancements and efficiently adapt to new tools and methodologies.

         </p><p>I possess a <font>positive attitude</font> and a <font>creative mindset</font>, always approaching challenges with optimism and innovative solutions. My ability to think outside the box helps me to tackle problems from unique perspectives, leading to effective and efficient outcomes.
            
          </p><p> <font> Sincerity and smart work </font>are cornerstones of my professional ethos. I believe in putting in genuine effort and leveraging my skills to achieve the best results, rather than merely working hard without direction. This approach ensures that I not only meet but exceed expectations in my projects.
            
          </p><p> <font> Teamwork </font> is another strength of mine. I thrive in collaborative environments, valuing the diverse ideas and contributions of team members. My flexible and adaptable nature allows me to work well with different personalities and adjust to varying work dynamics, ensuring seamless collaboration and productive outcomes.</p>
    </div>
</div>