
.profile-img
{
    width: 40%;
    height: 40%;
    padding: 10px;
    /* margin-top: 14%;
    margin-left: 11%; */
    border-radius: 50%;
    border: 2px solid #2a2a91;
    
}

h2
{
    font-family: Georgia;
    margin: 0.4%;
}

.info
{
    color: white;
    border: 2px solid rgb(38, 38, 132);
    padding: 15px;
    border-radius: 10px;
}

.info p
{
    font-size: 1.1rem;
}
font
{
    color:  rgb(238, 227, 149);
}

hr
{
    margin: 10px 0px;
}

.about-me-div {
    max-height: 578px;
  }
  
  /* Height-based media queries */
  @media (max-height: 889px) {
    .about-me-div {
      max-height: 500px;
    }
  }
  
  @media (max-height: 844px) {
    .about-me-div {
      max-height: 450px;
    }
  }
  
  @media (max-height: 667px) {
    .about-me-div {
      max-height: 400px;
    }
  }