.main-div
{
    padding: auto;
}

.internship
{
    color: white;
    /* background-color: bisque; */
    
    height: 20%;
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 3%;
    font-size: 1.3rem;
    
}

.internship hr
{
    margin: 2% 10%;
}


.certificates,.internship
{
    background: #a7a7ab66;
    border: 1px solid #393992;
    border-radius: 10px;
    text-align: center;
}

.certificates
{
    height: auto;
    width: auto;
    padding: 1% 8.5%;
    margin-top: 20%;
    margin-left: 2%;
    margin-bottom: auto;
    
    font-size: 1rem;
}

h2
{
    font-size: 1.7rem;
    font-family: 'georgia';
}

.certificates
{
    color: white;
}