<div class="main-div">
  <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let project of projects" class="slide">
      <img [src]="project.image" alt="{{ project.title }}" style="height: 270px;">
      <div class="project-info">
        <h3>{{ project.title }}</h3>
        <div class="icons">
          <a [href]="project.githubLink" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a [href]="project.liveLink" target="_blank" >
            <img src="assets/live_img2.jpg" alt="Live">
          </a>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>