.main-div
{
    align-items: center;
    text-align: center;
}
  .contact-info {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    height: 90%;
    
    
    /* background-color: aquamarine; */
    width: 100%;
    
  }

  /* .contact-form
  {
    margin-left: 5%;
    width: 30%; 
  } */
  
  .contact-method {
    background:rgba(167, 167, 171, 0.4);
    padding: 20px;
    border-radius: 10px;
    /* display: flex; */
    align-content: center;
    text-align: center;
    
    color: white;
    height:30%;
    width: 28%
  }
  
  /* .contact-method:first-child {
    margin-left: 0;
  }
  
  .contact-method:last-child {
    margin-right: 0;
  }
  
  .contact-icon {
    margin-right: 15px;
  } */
  
  .contact-details p
  {
    margin: 0;
  }

  .contact-details a {
    display: block;
    margin-top: 10px;
    color: #e91e63;
    text-decoration: none;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #555;
    border-radius: 4px;
    background: rgba(167, 167, 171, 0.4);
    color: black;
    font-family: Georgia;
    font-size: 1rem;
  }
  
  .form-group textarea {
    height: 100px;
    resize: none;
  }
  
  button {
    padding: 10px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    
    justify-content: center;
    width: 107.5%;
  }
  
  button span {
    margin-left: 10px;
  }

  i
  {
    font-size: 1.4rem;
  }
  
  