<div class="main-div flex items-center">
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-4 items-center">
        <div *ngFor="let contact of contacts" @animateContact
            class="bg-[#a7a7ab66] p-[20px] rounded-2xl transition-transform duration-500 hover:scale-105 ease-out lg:p-10">
            <i [class]="'bi ' + contact.icon"></i>
            <div class="text-white">
                <h3>{{ contact.title }}</h3>
                <p>{{ contact.value }}</p>
                <a *ngIf="contact.link" [href]="contact.link">Write to me &gt;&gt;</a>
            </div>
        </div>
    </div>
</div>