<div class="main-div local-main-div">
    <div @softSkillsAnimation class="soft-skills">
        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-4 mt-11">
          <div *ngFor="let skill of skills" class="justify-items-center col-span-1 mb-8 lg:mb-20">
            <img [src]="'assets/' + skill.logo" 
                 [alt]="skill.name + ' logo'"
                 (mouseover)="highlightSkill(skill.name, true)"
                 (mouseleave)="highlightSkill(skill.name, false)"
                 class="flex justify-self-center rounded-lg transition-transform duration-500 ease-in-out hover:scale-[1.8] w-1/5 md:w-1/12 lg:w-1/12 " [ngClass]="{'!rounded-full' : skill.name =='.Net Core'}">
            <p [class.opacity-0]="highlightedSkill == skill.name" class="!mt-4 transition-opacity duration-500">{{ skill.name }}</p>
          </div>
        </div>
      </div>

    

    <div class=" w-9/12 m-auto text-white grid grid-cols-1 sm:grid-cols-3 gap-2 md:gap-4 lg:gap-4  md:mt-8 lg:mt-40">
        <div *ngFor="let skill of hardSkills" @hardSkillsAnimation class="flex flex-col items-center p-2 lg:py-[11%] rounded-2xl bg-[#9090aa66]">
            <img [src]="skill.icon" [alt]="skill.name + ' icon'"
                class="w-[15%] mb-4 hover:scale-110 transition-transform duration-300">
            <p class="text-center font-medium">{{ skill.name }}</p>
        </div>
    </div>
</div>