<div class="main-div" >
     <div class="soft-skills">
        <ul>
            <li><img  src="/assets/html5_logo3.png" width="12%" ><br>HTML 5</li>
            <li><img src="/assets/css_logo1.png" width="12%" ><br>CSS 3</li>
            <li><img src="/assets/bootstrap_logo1.png" width="12%" ><br>Bootstrap</li>
            <li><img src="/assets/angular_logo1.png" width="12%" ><br>Angular</li>
        </ul>

        <ul>
            <li><img src="/assets/jquery_logo1.png" width="12%" ><br>JQuery</li>
            <li><img src="/assets/javascript_logo1.png" width="12%" ><br>JavaScript</li>
            <li><img src="/assets/java_logo2.png" width="12%" ><br>Java</li>
            <li><div><img src="/assets/oraclesql_logo1.png" width="12%" ><br><p>Oracle-SQL</p></div></li>
           
        </ul>

     </div>
</div>