<div class="home-container">
    
    <div class=" text-white flex justify-center md:justify-start lg:md:justify-start">
        
        <ul @IconsAnimation class="flex mt-2 gap-2 md:m-4 lg:m-8">
            <a href="https://github.com/keshavshriram">
                <li  class="github-icon p-[10px] ">
                    <i class="bi bi-github md:text-[22px] lg:text-[34px]"></i>
                </li>
            </a> 
            <a href="https://leetcode.com/u/keshavshriram/">
                <li class="-mb-[17px] p-[10px] ">
                    <img src="/assets/leetcode_logo1.png" class="h-[20px] w-[15px] md:h-[24px] md:w-[23px] lg:h-[36px] lg:w-[33px]" >
                </li>
            </a>
            <a href="https://www.linkedin.com/in/keshav-shriram-b36737206/">
                <li  class="linkedin-icon p-[10px] ">
                    <i class="bi bi-linkedin md:text-[22px] lg:text-[34px]">

                    </i>
                </li>
            </a>
            <a href="">
                <li class="facebook-icon p-[10px]">
                    <i class="bi bi-facebook md:text-[22px] lg:text-[34px]">

                    </i>
                </li>
            </a>
            <a href="">
                <li  class="insta-icon p-[10px] ">
                    <i class="bi bi-instagram md:text-[22px] lg:text-[34px]">

                    </i>
                </li>
            </a>
            <a href="">
                <li  class="twitter-icon  p-[10px] ">
                    <i class="bi bi-twitter md:text-[22px] lg:text-[34px]">

                    </i>
                </li>
            </a>
            
        </ul>
    </div>

    <div @nameAnimation class="text-white mt-20 flex flex-col items-center md:items-start lg:items-start md:ml-[18px] lg:ml-[38px] ">
        <h1 class="w-fit text-center" >Hello, my name is Keshav Shriram</h1>
        <p class="w-fit" >I Am Full Stack Developer</p>
    </div>

    <div class="text-white flex flex-col gap-4 m-4 mt-20 md:mt-32 lg:mt-36 md:flex-row lg:flex-row md:ml-[17px] lg:ml-[37px]">
        <a href="mailto:keshavshriram2002@gmail.com">
        <div @emailAnimation class="bg-[#9090aa66] p-2 rounded-xl !transition !duration-200 hover:!scale-105 md:w-[350px] lg:w-[400px] h-[150px] text-center content-center ">
            <i class="bi bi-envelope"></i>
            <h4>Email</h4>
            <br>
            <p>keshavshriram2002&#64;gmail.com</p>
        </div>
        </a>

        <a href="https://wa.me/9665448430?text=Hello%20Keshav,%20I%20want%20to%20schedule%20an%20interview%20with%20you.">
        <div @whatsappAnimation class="bg-[#9090aa66] p-2 rounded-xl !transition !duration-200 hover:!scale-105 md:w-[350px] lg:w-[400px] h-[150px] text-center content-center">
            <i class="bi bi-whatsapp"></i>
            <h4>Whatsapp</h4>
            <br>
            <p>966-544-8430</p>
        </div>
        </a>
    </div>

    <div id="tsparticles" class="opacity-55"></div>
</div>
