<div class="home-container">
    
    <div class="icon-container">
        
        <ul @IconsAnimation class="social-icons">
           <a href="https://github.com/keshavshriram"><li  class="github-icon"><i class="bi bi-github"></i></li></a> 
            <a href="https://leetcode.com/u/keshavshriram/"><li><img src="/assets/leetcode_logo1.png" height="24px" width="24px"></li></a>
            <a href="https://www.linkedin.com/in/keshav-shriram-b36737206/"><li  class="linkedin-icon"><i class="bi bi-linkedin"></i></li></a>
            <a href=""><li class="facebook-icon"><i class="bi bi-facebook"></i></li></a>
            <a href=""><li  class="insta-icon"><i class="bi bi-instagram"></i></li></a>
            <a href=""><li  class="twitter-icon"><i class="bi bi-twitter"></i></li></a>
            
        </ul>
    </div>

    <div class="name">
        <h1>Hello , my name is Keshav Shriram</h1>
        <p>I Am Full Stack Developer</p>
    </div>
</div>
