<div class="home-container">
    
    <div class="icon-container">
        
        <ul @IconsAnimation class="social-icons">
            <li  class="github-icon"><i class="bi bi-github"></i></li>
            <li  ><img src="/assets/leetcode_logo1.png" height="25px" width="25px"></li>
            <li  class="linkedin-icon"><i class="bi bi-linkedin"></i></li>
            <li class="facebook-icon"><i class="bi bi-facebook"></i></li>
            <li  class="insta-icon"><i class="bi bi-instagram"></i></li>
            <li  class="twitter-icon"><i class="bi bi-twitter"></i></li>
            
        </ul>
    </div>
</div>
